/*--------------------------------
    BASE
-----------------------------*/
.form__container {
    margin: 2rem auto;
    padding: 2rem;
    border: 2px solid var(--neutral-color-800);
    border-radius: 3rem;
    background-color: var(--neutral-color-600);
    color: var(--neutral-color-200);
    label {
        font-size: 1.2rem;
    }
    &::after {
        content: "Art_Hub";
        display: block;
        text-align: center;
        padding: 3.5rem 0;
        font-size: 7.5rem;
        font-family: "Climate Crisis", cursive;
        @media (width < 992px) {
            font-size: 5rem;
        }
        @media (width < 576px) {
            font-size: 3.8rem;
            word-break: break-all;
        }
    }
}

/*--------------------------------
    welcome
-----------------------------*/
.welcome {
    h1 {
        font-family: "Climate Crisis", cursive;
        font-size: 7.5rem;
        @media (width < 992px) {
            font-size: 5rem;
        }
        @media (width < 576px) {
            font-size: 3.8rem;
            word-break: break-all;
        }
    }
}
