/*-------------------
    VARIABLES
-------------------*/
:root {
    // Colors
    --primary-color-300: #daeafc;
    --primary-color: #5298e8;
    --primary-color-500: #00418e;

    --secondary-color: #f7e0cc;

    --neutral-color-600: #323232;
    --neutral-color-800: #121212;
}
