/*-------------------
    LAYOUT
-------------------*/

/*-------------------
    header
-------------------*/
header#ms-header {
    background-color: var(--neutral-color-800);
    justify-content: flex-start;
    align-items: center;
    color: var(--neutral-color-100);

    .logo-container {
        margin-right: 1rem;
    }

    #logo {
        width: 8rem;
    }

    #ms-logout {
        &:hover {
            color: var(--accent-color);
            text-decoration: underline;
        }
    }
}

/*-------------------
    sidebar
-------------------*/
#sidebarMenu#ms-sidebar {
    background-color: var(--neutral-color-900);
}
